
    <form id="kontakt" action="/contact" method="POST">
          
            <input class="formInput" type="text" name="firstName" minlength="2" required placeholder="Vorname">
          
            <input class="formInput" type="text" name="lastName" minlength="2" required placeholder="Nachname">
          
            <input class="formInput" type="email" name="email" required placeholder="Email">
            
            <textarea class="formInput" name="message" required placeholder="Bitte schreiben Sie hier Ihre Nachricht."></textarea>
          
            <button class="button" type="submit"><span>Nachricht senden</span></button>
            
            <span class="kontaktMail">oder Email an:</span>

            <img class="kontaktMail" src="/public/images/stilbruchEmail.svg">
    </form>