<form id="kontakt" action="/kontakt" method="POST">

        <!-- form protection start -->

        <input class="formInput displayNone" type="text" name="firstName1">

        <input class="formInput displayNone" type="text" name="lastName1">

        <input class="formInput displayNone" type="email" name="email1">

        <textarea class="formInput displayNone" name="message1"></textarea>

        <!-- form protection end -->

        <input class="formInput" type="text" name="firstName" minlength="2" required placeholder="Vorname">

        <input class="formInput" type="text" name="lastName" minlength="2" required placeholder="Nachname">

        <input class="formInput" type="email" name="email" required placeholder="Email">

        <textarea class="formInput" name="message" required placeholder="Bitte schreiben Sie hier Ihre Nachricht."></textarea>

        <button class="button fluid" type="submit"><span>Nachricht senden</span></button>

</form>