
    <form class="kontakt" action="/" method="POST">
            <label>Kontaktform</label>
          
            <input class="formInput" type="text" name="firstName" placeholder="vorname">
          
            <input class="formInput" type="text" name="lastName" placeholder="nachname">
          
            <input class="formInput" type="email" name="email" placeholder="email">
            
            <textarea class="formInput" name="message" placeholder="hier bitte ihre nachricht schreiben"></textarea>
          
            <button class="button" type="submit">nachricht senden</button>
    </form>