
        <hr>  
        <div class="footer">
            <a class="footerLogo" href="/"><img src="./public/images/t.svg"></a>
            <a class="footerItem fk" href="/">kontakt │</a>
            <a class="footerItem" href="/datenschutz">datenschutz │</a>
            <a class="footerItem" href="/impressum">impressum</a>         
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

        <!-- own JavaScript -->
        <script src="public/javascript/main.js"></script>

        <!-- cookieconsent.insites.com -->
        <script src="/node_modules/cookieconsent/build/cookieconsent.min.js"></script>

    </body>
</html>

