<!DOCTYPE html>
<html lang="de">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126126427-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-126126427-1');
    </script>

    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">

    </body>

</html>

<!-- Site Properties -->
<title>Stilbruch.design</title>

<!-- google font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">

<!-- own stylesheet -->
<link rel="stylesheet" type="text/css" href="/build/public/stylesheets/main.prefixed.min.css">
<link rel="stylesheet" type="text/css" href="/build/public/stylesheets/querries.prefixed.min.css">

<!-- cookieconsent-->
<link rel="stylesheet" type="text/css" href="/node_modules/cookieconsent/build/cookieconsent.min.css">

</head>

<body>

    <div class="navbar sticky">
        <a class="navItem navLogo" href="/"><img src="./build/public/images/t.compressed.svg"></a>
        <a class="navItem" id="e">Entwicklung</a>
        <a class="navItem" id="p">Projekte</a>
        <a class="navItem" id="s">Story</a>
        <a class="navItem" id="k">Kontakt</a>
        <a class="navItem navMenu"><img src="/build/public/images/navMenu.compressed.svg"></a>
        <a class="navItem navCancel"><img src="/build/public/images/navCancel.compressed.svg"></a>
    </div>

    <% if (success && success.length > 0) { %>
    <div class="flash">
        <div>
            <%= success %>
        </div>
        <img class="cancel" src="/build/public/images/navCancel.compressed.svg">
    </div>
    <% }; %>