<!DOCTYPE html>
<html lang="de">

    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  
  </body>
</html>

        <!-- Site Properties -->
        <title>Stilbruch.design</title>

    	<!-- google font -->
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">

       	<!-- own stylesheet -->
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/prefixed_main.css">
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/prefixed_querries.css">

        <!-- cookieconsent-->
        <link rel="stylesheet" type="text/css" href="/node_modules/cookieconsent/build/cookieconsent.min.css">

    </head>
    
    <body>
	
		<div class="navbar sticky">
            <a class="navItem navLogo" href="/"><img src="./public/images/t.svg"></a>
            <a class="navItem" id="e" >entwicklung</a>
            <a class="navItem" id="p" >projekte</a>
            <a class="navItem" id="s" >story</a>
            <a class="navItem" id="k" >kontakt</a>
            <a class="navItem navMenu"><img src="/public/images/navMenu.svg"></a>
            <a class="navItem navCancel"><img src="/public/images/navCancel.svg"></a>          
        </div>
        
        <% if (success && success.length > 0) { %>
        <div class="flash">
                <div>
                    <%= success %>
                </div>
                <img class="cancel" src="/public/images/navCancel.svg">
        </div>
        <% }; %>

        
            
        
        
