<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>Stilbruch.design</title>

    	<!-- google font -->
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">

       	<!-- own stylesheet -->
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css">

    </head>
    
    <body>
	
		<div class="navbar sticky">
            <a class="navItem navLogo" href="/"><img src="./public/images/t.svg"></a>
            <a class="navItem" href="/">entwicklung</a>
            <a class="navItem" href="/">projekte</a>
            <a class="navItem" href="/">story</a>
            <a class="navItem" href="/">kontakt</a>
            <a class="navItem navMenu"><img src="/public/images/navMenu.svg"></a>
            <a class="navItem navCancel" href="/"><img src="/public/images/navCancel.svg"></a>          
        </div>
        
