<% include partials/header %>
    <div class="mainFlex">
        
        <div class="landing">
            <div class="mainLogo"><img src="../public/images/stilbruchLogo.svg"></div>
            <div class="mainSub">Webentwicklung</div>       
        </div>

        <div class="myFlex eGrid">
            <div class="flexHeader">Webentwicklung</div>
            <div class="entwicklung">
                <div class="eItem">backend programierung</div>
                <div class="eItem">web applikationen</div>
                <div class="eItem">ui / ux design</div>
            </div>
            <div class="entwicklung">
                <div class="eItem">responsives page design</div>
                <div class="eItem">web sicherheit</div>
                <div class="eItem">datenbank managment</div>
            </div>            
        </div>        

        <div class="myFlex pGrid">
                <div class="flexHeader">Projekt</div>
                <div class="flexMainItems">
                    <a class="projectImg" href="https://www.radblocs.com"><img src="/public/images/projects/logo_radblocs.png"></a>
                    <div class="projectInfo">app für effizientere medizinische befunde</div>
                </div>
        </div>
        
        <div class="myFlex sGrid">
                <div class="flexHeader">Story</div>
                <div class="flexMainItems story">
                    <span>"Als Arzt begann ich vor einigen Jahren mit der Entwicklung moderner Webapplikationen 
                        um mir den sehr repititven Arbeitsalltag zu erleichtern und mehr Zeit für meine Patienten 
                        zu finden. Dadurch wurde mir bewusst wie sehr moderne und intelligente (Web-)Technologien unsere 
                        Arbeitswelt in Zukunft verändern werden. Als Arzt und Webentwickler ist es heute mein Ziel, 
                        konservative und repetitive Arbeitsprozesse zu minimieren um damit eine effektiviere und kreativere Arbeit
                        zu ermöglichen. Um das erreichen zu können wird in Zukunft, nicht nur in der Medizin, so mancher 
                        <img src="../public/images/stilbruchLogo3.svg"> nötig sein."
                    </span>
                </div>
        </div>

        <div class="myFlex kGrid">
            <div class="flexHeader">Kontaktform</div>
            <div class="flexMainItems"><% include partials/contact %></div>
        </div>

    </div>


<% include partials/footer %>
