<% include partials/header %>
<div class="mainFlex">

    <div class="landing">
        <div class="mainLogo"><img src="../build/public/images/stilbruchLogo.compressed.svg"></div>
        <div class="mainSub">Webentwicklung</div>
    </div>

    <div class="myFlex eGrid">
        <div class="flexHeader">Mein Stack</div>
        <div class="entwicklung">
            <div class="eItem"> Web-Applikationen</div>
            <div class="eItem"> Node.js</div>
        </div>
        <div class="entwicklung">
            <div class="eItem"> Backend</div>
            <div class="eItem"> Express</div>
        </div>
        <div class="entwicklung">
            <div class="eItem"> Datenbank</div>
            <div class="eItem"> MongoDB</div>
        </div>
        <div class="entwicklung">
            <div class="eItem"> UI Design</div>
            <div class="eItem"> React</div>
        </div>
    </div>

    <div class="myFlex pGrid">
        <div class="flexHeader">Aktuelles Projekt</div>
        <div class="flexMainItems">
            <a class="projectImg" href="https://www.radblocs.com"><img src="/build/public/images/logo_radblocs.compressed.png"></a>
        </div>
    </div>

    <div class="myFlex sGrid">
        <div class="flexHeader">Story</div>
        <div class="flexMainItems story">
            <span>"Als Arzt <i>und</i> Programmierer ist es mein Ziel, das klassische Feld der Medizin mit neuen
                Technologien zu verknüpfen. Ich möchte zeigen, dass diese Verbindung in keine Richtung ein <img src="../build/public/images/stilbruchLogo3.compressed.svg">
                sein muss. Vielmehr besteht das Potential konservative und repetitive Arbeitsprozesse in der Medizin zu
                minimieren um damit die Patientenversorgung sicherer und effektiver und die Arbeit in der Medizin
                kreativer und menschlicher zu machen."
            </span>
        </div>
    </div>

    <div class="myFlex kGrid">
        <div class="flexHeader">Kontaktform</div>
        <div class="flexMainItems">
            <% include partials/contact %>
        </div>
    </div>

</div>

<% include partials/footer %>