/* +++++++++++++++++++++++++++++++++++++++++++++++ html/body element +++++++++++++++++++++++++++++++++++++++++++++++ */
html, body {
    background: linear-gradient(to bottom right, #181818, #404040);
    background-color: #181818;
    font-family: 'Poiret One', cursive !important;
    color: #000000;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 10px;
}

/* hides all scrollbars */
.displayNone, ::-webkit-scrollbar {
    display: none !important;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++ navigation bar +++++++++++++++++++++++++++++++++++++++++++++++ */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0 1.5rem 0;
    border-radius: 20px;
}

.navItem {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #FF0000;
    border-radius: 131px;
    box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
    background: rgba(255, 0, 0, 0);
    text-align: center;
    color: #FF0000;
    text-decoration: none;
    font-size: 4rem;
    text-shadow: 5px 5px 10px rgba(0,0,0, 1);
    width: 20%;
    height: 5rem;
}

.navItem.navLogo {
    width: 12% !important;
}

.navItem:hover {
    background: rgba(95, 95, 95, 0.7);
    box-shadow: 5px 10px 20px rgba(0,0,0, 0.8);
    cursor: pointer;
}

.navMenu, .navCancel {
    display: none;
}

.navLogo img, .navCancel img {
    height: 100%;
    margin-top: 1rem;
}

.sticky {
    position: sticky;
    top: 0;
}

.navBackground {
    background: rgba(24, 24, 24, 0.8);
    z-index: 1;
}

.flash {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    background: rgba(95, 95, 95, 0.9);
    color: #FF0000;
    font-size: 4rem;
    text-shadow: 5px 5px 10px rgba(0,0,0, 1);
    position: sticky;
    top: 10vh;
    margin: 0 1vw;
    height: 6rem;
    text-align: center;
    z-index: 1;
}

.flash .cancel {
    height: 6rem;
    margin-top: 1rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++ footer +++++++++++++++++++++++++++++++++++++++++++++++ */
  
  hr {
    border: 0;
    margin: 1rem 0 0 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), red, rgba(255, 0, 0, 0));
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footerItem {
    color: #FF0000;
    text-decoration: none;
    font-size: 2rem;
    text-shadow: 5px 5px 10px rgba(0,0,0, 1);
  }

  .footerLogo img{
    margin-top: 1rem;
    margin-right: 2rem;
  }

/* +++++++++++++++++++++++++++++++++++++++++++++++ main section +++++++++++++++++++++++++++++++++++++++++++++++ */

.mainFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* section landing */

.landing { 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.mainSub {
    color: #FF0000;
    font-size: 4vw;
    letter-spacing: 0.8vw;
    text-shadow: 2px 2px 10px rgba(0,0,0, 1);
    margin: 4vw;
}

.mainLogo img {
    width: 90vw;
}

/* flex sections */

.myFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 5vw 0.5vw;
    width: 100vw;
    height: auto;
}

.flexHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 8vw;
    font-size: 4.5vw;
    letter-spacing: 1.5vh;
    writing-mode: vertical-rl; 
    transform: rotate(180deg);
    text-shadow: -5px -5px 10px rgba(0,0,0, 1);
    color: #FF0000;    
}

.flexMainItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw 2vw;
    padding: 2vw;
    text-align: center;
    width: 100vw;
    border: 1px solid #FF0000;
    border-radius: 8px;
    box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
    background: rgba(255, 0, 0, 0);
    color: #FF0000;
    font-size: 4vw;
    text-shadow: 5px 5px 10px rgba(0,0,0, 1);   
}

/* entwicklung section */

.entwicklung {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    height: 100%;
    text-align: center;
}

.eItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    margin: 1vw 1vw;
    padding: 1vw;
    text-align: center;
    border: 1px solid #FF0000;
    border-radius: 8px;
    box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
    background: rgba(255, 0, 0, 0);
    color: #FF0000;
    font-size: 5rem;
    text-shadow: 5px 5px 10px rgba(0,0,0, 1);
    height: 20rem;    
}

/* project section */

.projectImg {
  background: url("/build/public/images/radblocs_background.compressed.jpg");
  background-size: 100%;
  border-radius: 8px;
}

.flexMainItems img {
  max-width: 90%;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 5vw;
}

/* story */

.story {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story span {
  font-size: 0.7em !important;
  line-height: 1.7em;
  text-align: justify;
  padding: 1em;
}

.story img {
  height: 1.7em;
  vertical-align: bottom;
}

/* kontakt */

#kontakt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formInput {
    border: 1px solid #FF0000;
    border-radius: 8px;
    box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
    background: rgba(255, 0, 0, 0);
    color: rgb(255, 0, 0);
    font-size: 0.7em;
    text-shadow: 5px 5px 10px rgba(0,0,0, 1);
    width: 70vw;
    height: 1.4em;
    margin: 0.6vw;
    padding: 0.2em 1em;
    box-sizing: border-box;
}

input, textarea {
    font-family: inherit;
    text-align: center;
}

textarea {
    height: 7em !important;
    font-size: 0.5em !important;
    box-sizing: border-box;
    padding: 20px !important;
    text-align: left;
}

input:focus, textarea:focus {
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0);
    outline: none;
}

input:focus {
    text-align: center !important;
}

::placeholder {
    color: rgba(255, 0, 0, 0.6);
    text-align: center;
}

.button {
    margin: 2vw;
    border: 1px solid #FF0000;
    border-radius: 8px;
    box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
    background: rgba(255, 0, 0, 0);
    color: rgb(255, 0, 0);
    font-size: 3rem;
    font-family: inherit;
    text-shadow: 5px 5px 10px rgba(0,0,0, 1);
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;    
}

.button:active {
    outline: none;
}

.button:hover {
    background: rgba(95, 95, 95, 0.7);
    box-shadow: 5px 10px 20px rgba(0,0,0, 0.8) ;
}

.kontaktMail {
    color: inherit;
    text-decoration: none;
    font-size: 0.5em;
    text-align: center;
    width: 25vw;    
}

/* ++++++++++++++++++++++++++++++++++++++++++++++  impressum  ++++++++++++++++++++++++++++++++++++++++++++++ */

.impressum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF0000;
    border-radius: 8px;
    box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
    background: rgba(255, 0, 0, 0);
    color: #FF0000;
    font-size: 4vw;
    text-shadow: 5px 5px 10px rgba(0,0,0, 1);
    overflow: hidden;
    margin: 5vw 10vw;
    padding-bottom: 0.9em;
    min-height: 65vh;
}

.impressum h1 {
    font-size: 1em;
}

.impressum h2 {
    font-size: 0.8em;
    font-weight: bold;
}

.impressumMain {
    width: 95%;
}

.impressumMain img {
    width: 40vw;
}

.regText p{
    font-size: 0.6em;
    margin: 1.4vw 0;
}

.impressum a{
    text-decoration: underline;
    color: inherit;
    font-family: inherit; 
}

.bold {
    font-size: 0.7em !important;
    font-weight: bold !important;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++ cookieconsent +++++++++++++++++++++++++++++++++++++++++++++++ */

.cc-window,
.cc-revoke {
    font-size: 2rem !important;
}

