/* +++++++++++++++++++++++++++++++++++++++++++++++ html/body element +++++++++++++++++++++++++++++++++++++++++++++++ */
html, body {
    background: -webkit-gradient(linear, left top, right bottom, from(#181818), to(#404040));
    background: -webkit-linear-gradient(top left, #181818, #404040);
    background: -o-linear-gradient(top left, #181818, #404040);
    background: linear-gradient(to bottom right, #181818, #404040);
    background-color: #181818;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Poiret One', cursive !important;
    color: #000000;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/* hides all scrollbars */
::-webkit-scrollbar { 
    display: none; 
}

/* +++++++++++++++++++++++++++++++++++++++++++++++ navigation bar +++++++++++++++++++++++++++++++++++++++++++++++ */

.navbar {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logo entwicklung projekte story kontakt";
    -ms-grid-columns: 0.5fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: 50px;
    padding: 0.5em;
    border-radius: 40px;
}

.navItem {
    border: 1px solid #FF0000;
    border-radius: 131px;
    -webkit-box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
            box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
    background: rgba(255, 0, 0, 0);
    text-align: center;
    color: #FF0000;
    text-decoration: none;
    font-size: 2.5em;
    text-shadow: 5px 5px 10px rgba(0,0,0, 1);
}

.navItem:hover {
    background: rgba(95, 95, 95, 0.7);
    -webkit-box-shadow: 5px 10px 20px rgba(0,0,0, 0.8);
            box-shadow: 5px 10px 20px rgba(0,0,0, 0.8);
    cursor: pointer;
}

.navMenu, .navCancel {
    display: none;
}

.navMenu img, .navCancel img {
    height: 90%;
    margin-top: 0.3em;
    margin-left: 0.4em;
}

.navLogo img {
    height: 110%;
    margin-top: 0.1em;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navBackground {
    background: rgba(24, 24, 24, 0.8);
    z-index: 1;
}

.flash {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 20px;
    background: rgba(95, 95, 95, 0.9);
    color: #FF0000;
    font-size: 2em;
    text-shadow: 5px 5px 10px rgba(0,0,0, 1);
    position: -webkit-sticky;
    position: sticky;
    top: 10vh;
    margin: 0 2vw;
    height: auto;
    padding: 0.3em;
    text-align: center;
    z-index: 1;
}

.flash .cancel {
    height: 1.8em;
    margin-top: 0.3em;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++ footer +++++++++++++++++++++++++++++++++++++++++++++++ */
  
  hr {
    border: 0;
    margin: 1em 0 0 0;
    height: 2px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0)), color-stop(red), to(rgba(255, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(255, 0, 0, 0), red, rgba(255, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(255, 0, 0, 0), red, rgba(255, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), red, rgba(255, 0, 0, 0));
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .footerItem {
    color: #FF0000;
    text-decoration: none;
    font-size: 1em;
    text-shadow: 5px 5px 10px rgba(0,0,0, 1);
  }

  .footerLogo img{
    margin-top: 1em;
    margin-right: 2em;
  }

/* +++++++++++++++++++++++++++++++++++++++++++++++ main section +++++++++++++++++++++++++++++++++++++++++++++++ */

.mainFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/* section landing */

.landing { 
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
}

.mainSub {
    color: #FF0000;
    font-size: 4vw;
    letter-spacing: 0.8vw;
    text-shadow: 2px 2px 10px rgba(0,0,0, 1);
    margin: 4vw;
}

.mainLogo img {
    width: 90vw;
}

/* flex sections */

.myFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 5vw 0.5vw;
    width: 100vw;
    height: auto;
}

.flexHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 8vw;
    font-size: 4.5vw;
    letter-spacing: 1.5vh;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl; 
    -webkit-transform: rotate(180deg); 
        -ms-transform: rotate(180deg); 
            transform: rotate(180deg);
    text-shadow: -5px -5px 10px rgba(0,0,0, 1);
    color: #FF0000;    
}

.flexMainItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2vw 2vw;
    padding: 2vw;
    text-align: center;
    width: 100vw;
    border: 1px solid #FF0000;
    border-radius: 8px;
    -webkit-box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
            box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
    background: rgba(255, 0, 0, 0);
    color: #FF0000;
    font-size: 4vw;
    text-shadow: 5px 5px 10px rgba(0,0,0, 1);   
}

/* entwicklung section */

.entwicklung {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    height: 100%;
    text-align: center;
}

.eItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    word-wrap: break-word;
    margin: 1vw 1vw;
    padding: 1vw;
    height: 28vh;
    text-align: center;
    border: 1px solid #FF0000;
    border-radius: 8px;
    -webkit-box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
            box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
    background: rgba(255, 0, 0, 0);
    color: #FF0000;
    font-size: 4vw;
    text-shadow: 5px 5px 10px rgba(0,0,0, 1);
    height: 20vh;    
}

/* project section */

.projectImg {
  background: url("/public/images/projects/radblocs_background.jpg");
  background-size: 100%;
  border-radius: 8px;
}

.flexMainItems img {
  max-width: 90%;
}

.projectInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 5vw;
}

/* story */

.story {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.story span {
  font-size: 0.7em !important;
  line-height: 1.7em;
  text-align: justify;
  padding: 1em;
}

.story img {
  height: 1.7em;
  vertical-align: bottom;
}

/* kontakt */

#kontakt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.formInput {
    border: 1px solid #FF0000;
    border-radius: 8px;
    -webkit-box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
            box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
    background: rgba(255, 0, 0, 0);
    color: rgb(255, 0, 0);
    font-size: 0.7em;
    text-shadow: 5px 5px 10px rgba(0,0,0, 1);
    width: 70vw;
    height: 1.4em;
    margin: 0.6vw;
    padding: 0.2em 1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

input, textarea {
    font-family: inherit;
    text-align: center;
}

textarea {
    height: 7em !important;
    font-size: 0.5em !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px !important;
    text-align: left;
}

input:focus, textarea:focus {
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0);
    outline: none;
}

input:focus {
    text-align: center !important;
}

::-webkit-input-placeholder {
    color: rgba(255, 0, 0, 0.6);
    text-align: center;
}

:-ms-input-placeholder {
    color: rgba(255, 0, 0, 0.6);
    text-align: center;
}

::-ms-input-placeholder {
    color: rgba(255, 0, 0, 0.6);
    text-align: center;
}

::placeholder {
    color: rgba(255, 0, 0, 0.6);
    text-align: center;
}

.button {
    margin: 2vw;
    border: 1px solid #FF0000;
    border-radius: 8px;
    -webkit-box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
            box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
    background: rgba(255, 0, 0, 0);
    color: rgb(255, 0, 0);
    font-size: 1em;
    font-family: inherit;
    text-shadow: 5px 5px 10px rgba(0,0,0, 1);
    width: 50vw;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
}

.button:active {
    outline: none;
}

.button:hover {
    background: rgba(95, 95, 95, 0.7);
    -webkit-box-shadow: 5px 10px 20px rgba(0,0,0, 0.8) ;
            box-shadow: 5px 10px 20px rgba(0,0,0, 0.8) ;
}

.kontaktMail {
    color: inherit;
    text-decoration: none;
    font-size: 0.5em;
    text-align: center;
    width: 25vw;    
}

/* ++++++++++++++++++++++++++++++++++++++++++++++  impressum  ++++++++++++++++++++++++++++++++++++++++++++++ */

.impressum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #FF0000;
    border-radius: 8px;
    -webkit-box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
            box-shadow: 5px 10px 20px rgba(0,0,0, 0.8), rgba(0,0,0, 0.8) 5px 10px 20px inset;
    background: rgba(255, 0, 0, 0);
    color: #FF0000;
    font-size: 4vw;
    text-shadow: 5px 5px 10px rgba(0,0,0, 1);
    overflow: hidden;
    margin: 5vw 10vw;
    padding-bottom: 0.9em;
    min-height: 65vh;
}

.impressum h1 {
    font-size: 1em;
}

.impressum h2 {
    font-size: 0.8em;
    font-weight: bold;
}

.impressumMain {
    width: 95%;
}

.impressumMain img {
    width: 40vw;
}

.regText p{
    font-size: 0.6em;
    margin: 1.4vw 0;
}

.impressum a{
    text-decoration: underline;
    color: inherit;
    font-family: inherit; 
}

.bold {
    font-size: 0.7em !important;
    font-weight: bold !important;
}